%h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  color: #000000;
}

%h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
  font-family: 'Cormorant', serif;
}

%span {
  position: absolute;
  font-weight: normal;
  font-size: 154px;
  line-height: 154px;
  font-family: 'Rosanthie';
  color: #EDEDED;
  transform: rotate(-17.46deg);
}